.filter-btn {
    margin-left: 20px;
    padding: 9px 20px 9px 20px;    
    font-size: inherit;  
    font-family: inherit; 
    border: 1px solid var(--border-color); 
    background-color: white;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(59, 59, 59);
     
    &:hover {
        border-color: var(--primary);
        cursor: pointer;
    }

    .filter-btn-icon {
        color: rgb(68, 68, 68);
    }

    .filter-btn-name {
        margin-left: 10px;
    }
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: inherit;
    font-family: inherit;
    margin: 5px 20px 5px 20px;


    .title {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .btn-close {
        padding: 15px 19px 15px 19px; 
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(245, 245, 245);
            
            cursor: pointer;

            .btn-close-icon {
                color: rgb(252, 148, 148);
            }
        }


        .btn-close-icon {
           color: var(--border-color);
           font-size: 2rem;
        }
    }
}

.content {
    flex: 1;
    margin: 20px;
    overflow-y: auto;
}

.actions {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    .clear {
        padding: 10px 20px 10px 20px;
        border: 2px solid #ff6363;
        border-radius: 5px;
        color: #ff6363;
        font-weight: 600;
        margin-right: 20px;

        &:hover {
            cursor: pointer;
            background-color: rgb(244, 244, 244);
        }
    }

    .submit { 
        padding: 10px 20px 10px 20px;
        border: 2px solid transparent;
        background-color: var(--primary);

        border-radius: 5px;
        color: white;
        font-weight: 600;

        margin-right: 20px;

        &:hover {
            cursor: pointer;
            background-color: #314ede;
        }
    }
}

.multi-select {
    margin-bottom: 30px;
}
